version: "3.8"

services:
  backend:
    build: .
    command: npm start
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - redis
      - postgres

  worker:
    build: .
    command: npm run worker:start
    env_file:
      - .env
    depends_on:
      - redis
      - postgres

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15
    container_name: playpaywize-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Kaveri@123
      POSTGRES_DB: playpaywize_demo
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
